*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;

}
body{
	font-family: 'Poppins', sans-serif;

}
a{
	color: #fff;
}
a:hover{
	color: #ffd;
}
.container1{
	width: 1270px;
	margin: 0 auto;
}
.primary_button{
	padding: 12px 35px;
	color: #fff;
	background-color:#3297DB; 
	border:none;
	border-radius: 5px;
	box-shadow:0 0 20px  #3297DB;
	font-size: 18px;
}
.primary__span{
  color: #E84C3D;
}
.primary__title{
	font-size: 50px;
	color: #2D3E50;
}
.primary__text{
font-size: 17px;
	color: rgba(0,0,0,0.6);
	line-height: 1.5;
	padding: 50px 0;
}
.primary_button:hover{
	background-color:blue;

}
.nav>.container1{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	align-items: center;
}
.nav__logo{
	font-size: 25px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);

}
.nav__logo__span{
	color: #E74C3C;
	font-weight: 900;
}
.nav__list{
	display: flex;
	align-items: center;

}
.nav__item{
  padding-left: 30px;
  color: rgba(0,0,0,0.6);
}
.nav__item a{
	color: rgba(0,0,0,0.6);
}
.nav__item a:hover{
	color: rgba(0,0,0,0.9);
}
.nav__link{
	margin-left: 50px;
	border-radius: 10px;
	padding: 10px 50px;
	background-color:#3398DB;
	color: #fff;
	box-shadow: 0 0 10px #3398DB;
}
.nav__link a,.nav__link a:hover{
	color: #fff;
}
.nav__link:hover{
	 background-color:blue;

	}



.container{
	width: 1144px;
	margin: 0 auto;
}
.digital>.container{
	display: flex;
	justify-content: space-between;
}
.digital__subtext{
	position: relative;
	padding-top: 70px;
	width: 38%;
}
.digital__title{
	font-size: 75px;
	color: #2D3E50;
}
.digital__span{
	color: #E84C3D;
}
.digital__photo{
	position: relative;
	width: 60%;

}
.digital__photo__fmal{
	width: 100%;
	height: 100%;	
}
.digital__photo__Group826{
	position: absolute;
	left: 6%;
	right: 5%;
    top: 10%;
	z-index: -21;
	width: 170px;


}	
.digital__text{
	color: rgba(0,0,0,0.5);
	line-height: 1.5;
	font-size: 17px;
	padding-top: 50px;
	padding-bottom: 40px;
}

.digital__img-doughnut{
	top: 20%;
	position: absolute;
	width: 70px;
	right: 0%;
}
.digital__img-XMLID_44{
	position: absolute;
	top: 18%;
	left: 3%;
	width: 40px;
	z-index: -20;
}
.digital__img-XMLID_57{
	position: absolute;
	bottom: 26%;
	right: -3%;
	width: 65px;
	z-index: -20;
}
 .services>.container{
 	position: relative;
 }
 .photo__top{
 	position: absolute;
 	z-index: -10;
 	top: 27%;
 	left: -5%;
 }
 .photo__left{
    position: absolute;
    z-index: -15;
    bottom: 5%;
    left: -5%;	
 }
 .photo__right{
    position: absolute;
    z-index: -15;
    bottom: 1%;
    right: -5%;	
 }

.services__header{
	width: 100%;
	display: block;
	margin: 0 auto;
	justify-content: center;
	color: #2D3E51;
	height: 200px;
	padding-top: 50px;

}
.services__header__title{
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	width: 70%;

	

}
.services__header__span{
	color: #E34F3F;

}
.services__header__text{
	margin: 0 auto;
	width: 70%;
	text-align: center;
	padding: 30px 0;
	color: rgba(0,0,0,0.5);
}
.services__body,.services__body1{
	padding-top: 150px;
	display: flex;
	justify-content: space-between;
}
.services__body1{
	padding-top: 30px;
	padding-bottom: 70px;


}

.services__body__box{
	padding: 20px;
	width: 30%;
	border:1px solid #F2F2F2;
	border-radius: 10px 80px 10px 10px;
	background-color: #fff;
}
.services__body__box:hover{
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	transform: s



}
.services__body__box__img{
	border:1px solid #F2F2F2;
	padding: 10px;
	border-radius: 10px;
}
.services__body__box__title{
	color: rgba(0,0,0,0.6);
	padding: 15px 0;
}
.services__body__box__text{
	width: 100%;
    color: rgba(0,0,0,0.5);
    padding: 10px 0;
    padding-bottom: 20px;
}
.customer{
	background-color: #FCFCFC;
	padding: 100px 0;
}
.customer>.container{
	display: flex;
	justify-content: space-between;

}
.customer__photo{
	position: relative;
	width: 40%;
	z-index: 2;
}
.customer__subtext{
	width: 50%;
}
.customer__img__big{
	width: 100%;
}
.customer__photo__logo1,.customer__photo__logo2{
	position: absolute;
	width: 47%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	/*border:1px solid rgba(0,0,0,0.4);*/
	padding: 10px 20px;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	
}
.customer__photo__logo1{
	top: -7%;
	left: -6%;
}
.customer__photo__logo2{
	bottom: -7%;
	right: -6%;
}
.customer__photo__logo__img{
	width: 45%;
}
.customer__photo__logo__title{
	width: 45%;
	font-size: 17px;
	color: rgba(0,0,0,0.8);
	font-weight: 800;
}
.customer__photo__right{
	width: 20%;
	position: absolute;
	right: -3%;
	top: -4%;
}
.customer__photo__bottom{
	width: 20%;
	position: absolute;
	left: -5%;
	bottom: 0%;
    z-index: -1;
}
.customer__subtext{
	padding-top: 50px;
}
.customer__title{
	font-size: 42px;
	color: #2D3E51;
	font-weight: 800;
	line-height: 1.7;
}
.customer__title__span{
	color: #E35649;
}
.customer__text{
	font-size: 17px;
	color: rgba(0,0,0,0.6);
	line-height: 1.5;
	padding: 50px 0;

}
.customer__btn{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.customer__btn__span{
  font-size: 22px;
	padding-left: 10px;
	/*padding: 5px;*/
}
.innovation>.container{
	display: flex;
	justify-content: space-between;
}
.innovation__photo__logo1,.innovation__photo__logo2{
	position: absolute;
	width: 50%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	/*border:1px solid rgba(0,0,0,0.4);*/
	padding: 10px 20px;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.innovation__photo__logo1{
	top: -7%;
	right: -6%;
}
.innovation__photo__logo2{
	bottom: -7%;
	left: -6%;
	width: 70%;
}
.innovation__photo__logo__img{
	width: 30%;
}
.innovation__photo__logo__title{
	width: 60%;
}
.innovation__photo__left{
	width: 20%;
	position: absolute;
	left: -3%;
	top: -4%;
	z-index: -1;
}
.innovation__photo__bottom{
	width: 20%;
	position: absolute;
	right:-5%;
	bottom: 0%;
    z-index: 3;
}


.developers{
padding-top: 100px;
}
.developers>.container{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}
.developers__photo{
	padding-top: 50px;
	position: absolute;
	left: -10%;
	width: 65%;

}
.developers__img--big{
   height: 100%;
	width: 100%;
}
.developers__subtext{
	padding-top: 50px;
	position: absolute;
	padding-top: 100px;
	width: 40%;
	right: -5%;
}
.developers__text{
	padding: 10px 0;
	padding-bottom: 30px;

}
.developers__back{
	position: absolute;
	background-color:#F7F7F7;
	display: block;
	width: 100%;
	height: 740px;
	z-index: -1;
	right: -30%;
	border-radius: 10px 10px 10px 30px;
	
}
.client-says__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.client-says__text{
	width: 70%;
}
.client-says__body{
	display: flex;
	justify-content: space-between;
}
.client-says__body__box{
	padding: 30px 20px;
	width: 31%;
	border:1px solid rgba(0,0,0,0.1);
	border-radius: 10px 60px 10px 10px;
}
.client-says__body__box:hover{
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.client-says__body__box__header{
	display: flex;
	align-items: center;
	padding: 20px 0;
	justify-content: space-between;
}
.client-says__body__img{
	
	
	border-radius:50%;
	background-size: cover;
	width: 70px;
	height: 70px;
}
.client-says__body__text{
	color: rgba(0,0,0,0.6);
	font-size: 11px;
}
.client-says__body__box__span{
	padding: 20px 0;
}
.client-says__body__box__title{
	color: rgba(0,0,0,0.7);
	font-size: 20px;
}
.client-says__body__box__name p{
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}
.logo{
	background-color: #F4F4FC;
}
.logo__photo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;

}
.logo__photo img{
	width: 20%;
}
.project{
	padding:50px 0;

}
.project__box{
	display: flex;
	align-items: center;
	padding: 50px 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	justify-content: space-between;
}
.project__box__title{
	font-size: 40px;
	width: 40%;
}
.primary__form{
	width: 40%;
	padding: 10px 10px;
	display: flex;
	border:1px solid rgba(0,0,0,0.1);
	justify-content: space-between;
}
.primary__input{
	width: 100%;
	border:none;
}
.project__form__btn{
	border:none;
	background-color: #fff;
	padding: 5px;
}
.project__form__btn img:hover{
	
	background-color: rgba(0,0,0,0.2);
}
.footer{
	background-color: #242424;
	border-radius: 70px 0 0 0;
	color: #fff;

}
.footer>.container{
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
.footer__logo{
	color: #fff;
	width: 40%;
}
.footer__logo__title{
	padding-top: 40px;
	color: #fff;
}
.footer__logo__text{
	color: #fff;
}
.footer__link{
	color: #fff;
	font-size: 12px;

}
.footer__list{
	font-size: 10px;
	padding-top: 30px;

}
.footer__item{
	padding: 5px 0;
}
.footer__item a{
	color: #fff;
}
.footer__form{
	display: flex;
	background-color:#242424;
	width: 100%;
	border-bottom: 1px solid#C4C4C4;
}
.footer__btn{

background-color:#242424;
} 
.footer__input{
background-color:#242424;	
}
.footer__input[ttype=text]{
	color: #fff;
	border:none;
}
.footer__footer{
	padding: 20px 0;
	display: flex;
	background-color: #242424;
	color: #fff;
}
.footer__footer>.container{
	display: flex;
	justify-content: space-between;
}
.footer__footer__link{
	width: 20%;
	display: flex;
	justify-content: space-between;
}
.footer__footer__item i{
	color: #fff;
}
.footer__footer__item i:hover{
	color: red;
}
.footer__footer__list img{
 
}
@media(max-width:1340px){
	.container{
       width:1240px;
       margin: 0 auto;
	}
}

@media(max-width:1140px){
	.container{
       width:1100px;
       margin: 0 auto;
	}
}
@media(max-width:1040px){
	.container{
       width:1000px;
       margin: 0 auto;
	}
}
@media(max-width:940px){
	.container{
       width:900px;
       margin: 0 auto;
	}
}
@media(max-width:840px){
	.container{
       width:740px;
       margin: 0 auto;
	}
}

